<%- include('../partials/_header') %>
<div class="card-columns">
  <% posts.forEach((post,i) => { %>
  <%-include('../partials/_postCard',{post,i})%> <% }) %>
</div>
<% const totalPages = pagination['x-wp-totalpages']; const paginationContent =
pagination['x-wp-total']; const newPage = activePage %>
<%-include('../partials/_pagination',{totalPages,paginationContent,newPage}) %>
